* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body {
    margin:0;
    padding:0;
    min-height:100vh;
    overflow-y:auto;
    overflow-x: hidden;
}

body {
    background-color: #ffcd71;
}

#aboutPage.page-active ~ body,
body:has(#aboutPage.page-active) {
    background-color: #c8bcdc;
    padding-bottom: 6vh;
}

#worksPage.page-active ~ body,
body:has(#worksPage.page-active) {
    background-color: #8ccfb7;
    padding-bottom: 6vh;
}

#contactPage.page-active ~ body,
body:has(#contactPage.page-active) {
    background-color: #deaabc;
    padding-bottom: 6vh;
}

.page-active {
    display: block;
}

.page {
    display: none !important;
}

.header-bkgrd {
    width: 100%;
    height:120px;
    display: block;
    margin: 0 auto;
    z-index: 1000;
}

.home-main {
    margin:0;
    padding:0;
    padding-bottom:50px;
}

.home-header {
    position: relative;
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDown 1s ease-out forwards;
    animation-delay: 7s;
}

.home-header img {
    opacity: 0;
    animation: slideDown 1s ease-out forwards;
    animation-delay: 7s;
}

.name-header {
    font-family:'lores-15-bold-alt-oakland', sans-serif;
    font-size: 40pt;
    color: white;
    position: fixed;
    top:-0.5%;
    left: 10%;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.name-header:hover {
    transform: scale(1.07);
    opacity: 0.8;
}

#homePage .page-btn {
    position: fixed;
    display: flex;
    gap:15px;
    justify-content:flex-end;
    flex-wrap:wrap;
    top:22%;
    left:50%;
    right: 5%;
    z-index: 1000;
}

#homePage .page-btn button {
    border:none;
    cursor:pointer;
    padding: 24px, 48px;
    width: 90%;
    background: none;
    color:white;
    font-family:'lores-15', sans-serif;
    flex: 1;
    font-size: clamp(20px, 2vw, 24pt);
    font-weight:bold;
    white-space: nowrap;
    transition:all 0.2s ease;
    clip-path: polygon(
                0 8px,
                8px 8px,
                8px 0,
                calc(100% - 8px) 0,
                calc(100% - 8px) 8px,
                100% 8px,
                100% calc(100% - 8px),
                calc(100% - 8px) calc(100% - 8px),
                calc(100% - 8px) 100%,
                8px 100%,
                8px calc(100% - 8px),
                0 calc(100% - 8px)
            );
}

#homePage .page-btn button:hover {
    background:white;
    color:black;
}

@keyframes slideDown {
    to {
        opacity: 1;
        transform:translateY(0);
    }
}

.video-container {
    position: relative;
    width:100%;
    margin-top: 3vw;
    background-color: transparent;
}

.video-container video {
    width: 100%;
    height: auto;
    display: block;
    max-height: 100vh;
    object-fit: contain;
    
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 1.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.gif-btn {
    position: absolute;
    display: flex;
    gap:3.5vw;
    width: 32%;
    transform: translateX(107%);
    top: 68%;
}

.gif-btn button{
    flex:1;
    border:none;
    cursor:pointer;
    background: #5ddfbd;
    color:white;
    font-family:'lores-15', sans-serif;
    font-size: clamp(3px, 1vw, 20px);
    font-weight:bold;
    white-space: normal;
    word-wrap: break-word;
    line-height: 1;
    min-height: clamp(10px, 2vw, 27px);
    transition:all 0.3s ease;
    clip-path: polygon(
                0 0.5vw,
                0.5vw 0.5vw,
                0.5vw 0,
                calc(100% - 0.5vw) 0,
                calc(100% - 0.5vw) 0.5vw,
                100% 0.5vw,
                100% calc(100% - 0.5vw),
                calc(100% - 0.5vw) calc(100% - 0.5vw),
                calc(100% - 0.5vw) 100%,
                0.5vw 100%,
                0.5vw calc(100% - 0.5vw),
                0 calc(100% - 0.5vw)
            );
    visibility: hidden;
    animation: popUpBtn 0.5s ease-out forwards;
    animation-delay: 4.75s;
}

.gif-btn button:hover {
    background:#5b9d97;
    transform: scale(1.05) !important;
}

@keyframes popUpBtn{
    0% {
        transform:scale(0.5);
        opacity: 0;
        visibility: visible;
    }
    75% {
        transform: scale(1.15);
        opacity: 1;
        visibility: visible;
    }
    100% {
        transform:none;
        opacity: 1;
        visibility: visible;
    }
}

.about-header, .contact-header, .works-header img {
    position: fixed !important;
    z-index: 1000;
    width: 100%;
}

.page-btn{
    position: fixed;
    display: flex;
    gap:15px;
    justify-content:flex-end;
    flex-wrap:wrap;
    top:3.5%;
    left:50%;
    right: 5%;
    z-index: 1000;
}

.page-btn button {
    border:none;
    cursor:pointer;
    padding: 24px, 48px;
    width: 20%;
    background: none;
    color:white;
    font-family:'lores-15', sans-serif;
    flex: 1;
    font-size: clamp(20px, 2vw, 24pt);
    font-weight:bold;
    white-space: nowrap;
    transition:all 0.2s ease;
    clip-path: polygon(
                0 8px,
                8px 8px,
                8px 0,
                calc(100% - 8px) 0,
                calc(100% - 8px) 8px,
                100% 8px,
                100% calc(100% - 8px),
                calc(100% - 8px) calc(100% - 8px),
                calc(100% - 8px) 100%,
                8px 100%,
                8px calc(100% - 8px),
                0 calc(100% - 8px)
            );
}

.page-btn button:hover {
    background:white;
    color:black;
}

.about-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:40px;
    width: 100%;
    padding-top: 130px;
    padding-left:20px;
    padding-right:20px;
}

.picture-frame {
    position: block;
    display: inline-block;
}

.ascii-pic-frame {
    display: block;
    font-family: 'antarctican-mono', monospace;
    color:#817c8e;
    font-size: 2vw;
    letter-spacing: -0.55vw;
    line-height: 4vh;
}

.intro {
    margin-top:7vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.intro h2 {
    font-family: 'lores-12', sans-serif;
    font-size: 30px;
    color:#4d4d4d;
    text-decoration: underline;
}

.intro p {
    font-family: 'lores-15-narrow', serif;
    font-size: 18px;
    color:#4d4d4d;
    padding-right: 8vw;
}

.profile-img {
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50);
    width: 50vw;
    height: 50vh;
    object-fit: cover;
}

footer {
    padding-top:4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.social-media {
    flex: 1;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.social-media a {
    display: inline-block;
}

.social-media img {
    width: 30px;
    height: 30px;
    display: block;
}

.linkedIn-img {
    width: 45px !important;
    height: 45px !important;
}

footer p {
    flex: 1;
    text-align: center;
    margin:0;
    font-family: 'antarctican-mono', sans-serif;
    font-size: 12px;
    letter-spacing: 0.25px;
}

.contact-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap:2vw;
    width: 100%;
    padding-top:130px;
    padding-left: 2vw;;
    padding-right: 2vw;
    padding-bottom: 2vh;
}

.contact-main pre {
    font-family: 'antarctican-mono', monospace;
    color:#96395b;
    font-size:1.2vw;
    letter-spacing: -0.05vw;
    line-height: 110%;
}

.ascii-scroll-ink {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:10vw;
    flex-shrink: 1;
    max-width: 25%;
}

.contact-info {
    position: relative;
    margin-top: 2vw;
    margin-left: auto;
}

.contact-email, .contact-phone {
    position: relative;
    z-index: 999;
    font-family: 'lores-15-bold-alt-oakland', sans-serif !important;
    font-size: 1.5vw !important;
    margin-bottom: 1vw !important;
    margin-top: -13vw !important;
    margin-left: 7vw !important;
}

.contact-email {
    margin-top:1.5vw !important;
}

.contact-input {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex: 1;
    min-width: 300px;
    margin-left: -10vw;
    margin-right: 5vw;
        margin-top: 5%;
}

.ascii-letter {
    margin-top: 80%;
}

.contact-input h2 {
    font-family: 'lores-9-plus-narrow', sans-serif;
    font-weight: bold;
    letter-spacing: 0.5vw;
    color: #96395b;
    font-size: 3vw;
}

.form-group {
    font-family: 'lores-15', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    color: #96395b;
    letter-spacing: -0.1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.7vw;
}

.contact-form input {
    width: 27.5vw;
    font-family: 'lores-15-bold-alt-oakland', sans-serif;
    font-size: 1.8vw;
    background-color: transparent;
    color: #4d4d4d;
    border:3px solid #96395b;
    clip-path: polygon(
        0 0.7vw,
        0.7vw 0.7vw,
        0.7vw 0,
        calc(100% - 0.7vw) 0,
        calc(100% - 0.7vw) 0.7vw,
        100% 0.7vw,
        100% calc(100% - 0.7vw),
        calc(100% - 0.7vw) calc(100% - 0.7vw),
        calc(100% - 0.7vw) 100%,
        0.7vw 100%,
        0.7vw calc(100% - 0.7vw),
        0 calc(100% - 0.7vw)
        );
}

.contact-form input:focus {
    outline: none;
    border-color: #9d6074;
}

.contact-form textarea {
    font-family: 'lores-15-bold-alt-oakland', sans-serif;
    font-size: 1.4vw;
    resize: vertical;
    height: 6vw;
    width: 34vw;
    color:#4d4d4d;
    border:3px solid #96395b;
    background-color: transparent;
    clip-path: polygon(
        0 0.7vw,
        0.7vw 0.7vw,
        0.7vw 0,
        calc(100% - 0.7vw) 0,
        calc(100% - 0.7vw) 0.7vw,
        100% 0.7vw,
        100% calc(100% - 0.7vw),
        calc(100% - 0.7vw) calc(100% - 0.7vw),
        calc(100% - 0.7vw) 100%,
        0.7vw 100%,
        0.7vw calc(100% - 0.7vw),
        0 calc(100% - 0.7vw)
    );
}

.contact-form textarea:focus {
    outline:none;
    border-color: #9d6074;
}

#contactEmail, .email-contact{
    margin-left: -3vw;
    width: 30vw;
}

#contactSubject, .subject-contact {
    margin-left: -5vw;
    width: 31.5vw;
}

#contactMessage, .message-contact {
    margin-left: -7vw;
}

.submit-btn {
    margin-left: -7vw;
    margin-top: -5%;
    width: 55%;
    font-family: 'lores-15-bold-alt-oakland', sans-serif;
    font-size: 2vw;
    letter-spacing: 0.2vw;
    color:white;
    background-color: #96395b;
    border: none;
    padding: 0.5vw 1vw;
    clip-path: polygon(
        0 0.7vw,
        0.7vw 0.7vw,
        0.7vw 0,
        calc(100% - 0.7vw) 0,
        calc(100% - 0.7vw) 0.7vw,
        100% 0.7vw,
        100% calc(100% - 0.7vw),
        calc(100% - 0.7vw) calc(100% - 0.7vw),
        calc(100% - 0.7vw) 100%,
        0.7vw 100%,
        0.7vw calc(100% - 0.7vw),
        0 calc(100% - 0.7vw)
    );
    transition: all 0.2s ease;
}

.submit-btn:hover {
    background-color: #9d6074;
    transform: scale(1.1);
}

.works-main {
    padding-top: 150px;
}

.works-main pre{
    font-family: 'anarctican-mono', monospace;
    color: #5b8c7c;
    font-size: 0.7vw;
}

.nav-col {
    position: relative;
    top: -17vw;

}

.nav-list {
    position: absolute;
    display: flex;
    justify-content: center;
    list-style-type:none;
    left: 45%;
    transform: translate(-50%, -50);
}

.nav-item {
    position: relative;
}

.nav-dropdown {
    cursor:pointer;
    text-decoration: none;
    display: inline-block;
}

.nav-dropdown:hover {
    opacity: 0.6;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #8ccfb7;
    border: 2px solid rgba(77, 77, 77, 0.7);
    border-top: none;
    padding: 10px;
    z-index: 100;
}

.nav-item:hover .dropdown {
    display: block;
}

.dropdown-list {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

.dropdown-item {
    margin: 20px 0;
}

.dropdown-year {
    cursor: pointer;
    text-decoration: none;
    display: block;
    transition: all 0.2s ease;
}

.dropdown-year:hover {
    color:#234c4b;
    transform: scale(1.05);
}

.nav-list pre {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    font-family: 'antarctican-mono', monospace;
    font-size: 1vw;
    color:#5b8c7c;
}

.modal-popup {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-popup.is-open {
    display: flex;
}

.modal-content {
    position: relative;
    padding: 30px;
    border-radius: 10px;
    max-width: 80%;
    max-height: 90%;
    overflow-y:auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color:#8ccfb7;
}

.modal-close {
    position: absolute;
    top:10px;
    right:20px;
    cursor: pointer;
    color:#5b8c7c;
    z-index: 1;
}

.modal-close:hover {
    color:#234c4b;
}

#modalTitle {
    font-family: 'lores-15-bold-alt-oakland', sans-serif;
    color:#4d4d4d;
    margin-bottom: 20px;
    padding-right: 40px;
}

#modalBody {
    display: flex;
    flex-wrap:wrap;
    gap:20px;
    align-items: center;
    flex-direction: column;
}

.clickable-item h3 {
    font-family: 'lores-15-bold-alt-oakland', sans-serif;
    font-size: clamp(22px, 1.5vw, 30px);
    color:#4d4d4d;
    margin-bottom: 0.4em;
    padding-left:1.75vw;
    padding-right: 1vw;
}

.clickable-items {
    display: flex;
    flex-direction: row;
    margin-left:4%;
    flex-wrap: wrap;
    /*gap: 2.5vw;*/
    row-gap: 2.5vw;
    padding: 1.8vw;
}

.clickable-item {
    cursor: pointer;
    width:30%;
    padding: 1.2vw, 1.5vw;
    display: flex;
    flex-direction: column;
    min-height: 150px;
    transition: all 0.3s ease;
}

.clickable-item:hover {
    background-color:rgba(91, 140, 124, 0.5);
    transform: scale(1.02);
}

.clickable-item p {
    font-family: 'lore-12-narrow', sans-serif;
    font-size: clamp(16px, 1.2vw, 22px);
    color:#5b8c7c;
    line-height: 1.5;
    padding-left: 1.75vw;
    padding-right: 1vw;
    margin-top: auto;
}

.project-info, .project-description {
    width: 100%;
}

.project-info p, .project-description p {
    font-family: 'lores-15', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color:#4d4d4d;
}

.modal-content .video-container {
    width: 100%;
    margin-bottom: 20px;
}

.modal-content .video-container video {
    width: 100%;
    height: auto;
}

.item-thumbnail {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.project-image {
    display: none;
    max-width: 100%;
    height: auto;
}

.project-image.active {
    display: block;
}

.loop-project-images {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.project-images {
    position: relative;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
}

.img-prev-btn, .img-nxt-btn {
    background-color: rgba(255, 255, 255, 0.6);
    color:#5b9d97;
    border:none;
    cursor: pointer;
    font-size: 20px;
    font-family: 'antarctican-mono", monospace';
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: transform 0.3s ease;
    flex-shrink: 0;
}

.img-prev-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(0.9);
    color:#5b8c7c;
}

.img-nxt-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(0.9);
    color:#5b8c7c;
}

.img-prev-btn {
    order: 1;
}

.project-images {
    order: 2;
}

.img-nxt-btn {
    order: 3;
}

@media (max-width: 768px) {
    .page-btn {
        position: fixed;
        flex-direction: column;
        gap:10px;
        top: 2%;
        left: 14%;
        right: 20px;
        margin-top:85px;
    }
    .page-btn button {
        display: flex;
        justify-content: center;
        width: 90%;
        padding: 12px, 24px;
    }
    #homePage .page-btn {
        position: absolute;
        flex-direction: column;
        gap:10px;
        top: 5%;
        left: 14%;
        right: 20px;
    }
    #homePage .page-btn button {
        display: flex;
        justify-content: center;
        width: 90%;
        padding: 12px, 24px;
    }
    .header-bkgrd {
        position: relative;
        width:100%;
        height: 400px;
    }
    .video-container {
        margin-top:0;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .home-header {
        margin-top: 0;
        padding-top: 0;
    }
    .name-header {
        left: 33vw;
        right: 30vw;
    }
    .gif-btn {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 63.5%;
    }

    .about-main {
        padding-top:20px;
    }
    .profile-img {
        padding-top: 300px;
    }
    .contact-main {
        padding-top:450px;
        width:100%;
    }
    .contact-input {
        gap:1.5vw;
    }
    .form-group {
        gap:2vw;
    }
    .contact-info {
        margin-left: -18vw !important;
    }
    .works-main {
        padding-top:420px;
    }
    .nav-col {
        padding-top:-10px;
    }
    .about-header {
        position: relative !important;
    }
    .about-header h1, .about-header div {
        position: absolute !important;
    }
    .works-header h1, .works-header div, .works-header img {
        position: absolute !important;
    }
}

@media (max-width: 480px) {
    .page-btn {
        bottom: 15px;
        left:15px;
        right: 15px;
    }
    .header-bkgrd {
        height: 300px;
        width: 100%;
    }
    .name-header {
        left: 33vw;
        right: 30vw;
    }
}